# VPS and SSH configuration
VPS_IP="192.168.1.200"
VPS_PORT=22
VPS_USERNAME="shadow"
SSH_KEY_FILE="~/.ssh/staging-server"

# Docker image configuration
IMAGE_NAME="staging"
DOCKER_TAG="latest"

# Runner configuration
RUNNER_TARGET_NAME="Staging"